/* base
-------------------------------------------------------------------------- */
html, body {width:100%; height:100%;}
html {overflow-y:scroll;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, button, p, table, th, td {padding:0; margin:0; box-sizing:border-box;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {display:block; padding:0; margin:0; box-sizing:border-box;}
table, th, td, input, button {font-size:12px;}
h1, h2, h3, h4, h5, h6 {font-weight:normal; font-size:100%;}
table {border-collapse:collapse; border-spacing:0; empty-cells:show; border:0 none;}
li {list-style:none;}
form, fieldset, iframe, button {border:0 none;}
label {cursor:pointer; vertical-align:middle;}
img {border:0 none; vertical-align:top;}
address, caption, em {font-weight:normal; font-style:normal;}
hr {display:none;}
select, input, option, textarea {vertical-align:middle; font:12px "맑은 고딕", Malgun Gothic, "돋움", Dotum, sans-serif; color:#666;}
input, select, button{vertical-align:middle;}
input {height:30px; border:1px solid #ededed;}
button {overflow:visible; background:transparent; cursor:pointer;}
button::-moz-focus-inner {padding:0; border:0;}
.clear {zoom:1;}
.clear:after {content:""; display:block; height:0; clear:both;}
.skip, .blind, legend {position:absolute !important; top:-5000em; width:0; height:0; overflow:hidden; line-height:0; font-size:0;}
body {font:14px "맑은 고딕", Malgun Gothic, "돋움", Dotum, sans-serif; color:#666;}
input[type=text]::-ms-clear {display:none;}
label, button {font-family:"맑은 고딕", Malgun Gothic, "돋움", Dotum, sans-serif; color:#666;}
.hide {display:none !important;}
.show {display:block !important;}

/* Anchor
-------------------------------------------------------------------------- */
a,
a:link,
a:visited {color:#666; text-decoration:none;}
a:hover,
a:active,
a:focus {color:#d7604e;}

/* icon 
-------------------------------------------------------------------------- */
.btn-ico {width:25px; height:25px; padding:5px 0; border-radius:15px; border:1px solid #a5a5a5; line-height:1; letter-spacing:-2px; text-align:center; box-sizing:border-box;}
.btn-ico:hover {background-color:#d7604e; color:#fff; border:1px solid #d7604e;}
.emotion-color01, .emotion-color01 > * {color:#fdd102;}
.snowflake, .snowflake > * {color:#b1e4f5;}
.sun, .sun > * {color:#f7a515;}
.cloud, .cloud > *, .cloud-showers-heavy, .cloud-showers-heavy > * {color:#aba9a5;}
.wind, .wind > * {color:#02bffd;}

/* button
-------------------------------------------------------------------------- */
.btn-grp {text-align:center;}
.login-bx button[class^="btn-"], .write-bx button[class^="btn-"] {width:100%; height:40px; margin-bottom:10px; font-weight:bold; font-size:15px; border-radius:4px; color:#fff;}
.login-bx button[class^="btn-"] svg, .write-bx button[class^="btn-"] svg {margin-right:5px; vertical-align:-2px;}

/* Layout 
-------------------------------------------------------------------------- */
#app {max-width:600px; margin:0 auto;}
#wrapper {position:relative; padding-top:60px;}
#slot-wrap {border:1px solid #a8a8a8; border-top:0;}
#container {position:relative; min-height:230px; padding-left:40px;}
.contents-wrap {padding:20px 20px 20px 10px;}
#header {position:absolute; top:0; left:0; right:0; height:60px; padding:0 10px; background-color:#d77869;}
#nav {position:absolute; top:0; left:0; width:40px; height:100%; padding:20px 0 20px 5px; background-color:#666666;}
h3 {text-align:center; font-size:24px; margin-bottom:20px;}
.portfolio {margin-bottom:10px; color:#000;}
.portfolio a:hover {text-decoration:underline;}

/* header 
-------------------------------------------------------------------------- */
#header a {color:#fff;}
#header h1 {float:left;}
.logo {margin-right:30px;border:1px solid red;}
.logo a {font-weight:bold; font-size:18px; line-height:54px;}
.logo a sup {margin-left:-5px;}
.logo img {width:40px; vertical-align:middle;}
.logo img + span {font-size:18px;}
.logo img + span + span {font-size:16px;}
.logo img + span + span + span {font-size:14px;}
.search-bx {display:none; position:relative; float:left; margin-top:13px; width:40%; padding:0 35px 0 10px; border-radius:15px; background-color:#fff; border:1px solid #ededed;}
.search-bx input[type="text"] {width:100%; padding:0 15px; background-color:transparent; border:0; font-size:15px;}
.search-bx .btnSearch {position:absolute; top:0; right:0; width:30px; height:30px;}
.search-bx .btnSearch i {font-size:20px; color:#ccc;}
.top-menu {float:right;}
.top-menu li {float:left; padding:18px 0; font-size:14px; font-weight:bold; color:#fff;}
.top-menu li a {display:block; padding:0 5px; }

/* nav 
-------------------------------------------------------------------------- */
#nav ul li {margin-bottom:10px;}
#nav ul li a {position:relative; display:block; padding:5px; color:#fff; line-height:1; z-index:10; overflow:hidden;}
#nav ul li a:hover {overflow:visible;}
#nav ul li a svg {margin-right:13px; vertical-align:middle;}
#nav ul li a .nav-label {position:absolute; top:0; left:42px; padding:5px; vertical-align:middle; color:#333; border:1px solid #666; border-radius:5px; background-color:#fff; white-space:nowrap;}
/* #nav ul li a:hover::before {position:absolute; left:-10px; top:13px; content:""; border-left:5px solid #fff; border-top:4px solid transparent; border-bottom:4px solid transparent;} */
#nav .nav-icon01.on a {color:#32ca44;}

/* contents
-------------------------------------------------------------------------- */
.el-alert {margin-top:10px !important; line-height:100%;}

/* login & join
-------------------------------------------------------------------------- */
.login-container {width:100%; padding:30px 0 50px 0;}
.login-bx {max-width:400px; padding:20px 0 50px; margin:0 auto; border:1px solid #e5e5e5;}
.login-bx fieldset {max-width:330px; margin:0 auto; padding:0 15px;}
.login-bx .input-bx {margin-bottom:10px;}
.etc-bx {text-align:right;}
.etc-bx a {color:#52adf3; text-decoration:underline;}
.btn-login {border:1px solid #d7604e; color:#d7604e !important;}
.btn-join {border:1px solid #333; color:#333 !important;}
.btn-google {background-color:#ea4335;}
.btn-facebook {background-color:#4267b2;}
.tester {text-align:center; margin-bottom:20px;}

/* list-wrap 
-------------------------------------------------------------------------- */
/* no data */
.no-data {padding:10px; border:1px dashed #a8a8a8; text-align:center; border-radius:10px; }
.no-data button {display:block; width:100%; padding:40px; color:#9d9d9d; font-size:16px; border:1px dashed #a8a8a8; border-radius:10px; box-sizing:border-box;}

/* list */
.list-bx {}
.list-bx .list-cell {margin-bottom:10px; border:1px solid #a8a8a8;}
.list-bx .list-img {position:relative; float:left; width:120px; height:120px; background-color:#ededed;}
.list-bx .list-img img {display:block; width:120px; height:120px;}
.list-bx .list-img .no-img {display:block; text-align:center; padding:50px 0; color:#9f9f9f;}
.list-bx .list-cont {position:relative; padding:15px 70px 10px 140px;}
.list-bx .list-cont .tit {margin-bottom:10px;}
.list-bx .list-cont .tit a {display:block; font-weight:bold; color:#000; font-size:21px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.list-bx .list-cont .tit a:hover {text-decoration:underline;}
.list-bx .list-cont .txt {margin-bottom:5px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.list-bx .list-cont .date {color:#ababab;}
.list-bx .list-cont .list-func {position:absolute; bottom:5px; right:10px;}
.list-bx .list-cont .list-func a {display:inline-block; margin-left:5px;}

/* view-wrap
-------------------------------------------------------------------------- */
.view-bx {min-height:200px;}
.view-bx .view-head {padding:20px; background-color:#f7f7f7;}
.view-bx .view-head .tit {margin-bottom:10px; font-size:21px; color:#000;}
.view-bx .view-head .status .emotion svg, .view-bx .view-head .status .weather svg {margin-right:5px;}
.view-bx .view-head .status .emotion, .view-bx .view-head .status .weather {float:left;}
.view-bx .view-head .status .date {float:left; margin-right:10px;}
.view-bx .view-head .view-func {float:left; margin-top:-3px;}
.view-bx .view-head .view-func a {display:inline-block;}
.view-bx .view-head .btn-ico {margin-right:5px; background-color:#fff;}
.view-bx .view-head .btn-ico:hover {color:#d7604e;}
.view-bx .view-cont {padding:20px 10px; line-height:1.8;}
.view-bx .view-cont .text {white-space:pre;}
.view-bx .view-cont .map {margin-top:50px;}
.view-bx .view-cont .carousel-bx {margin-bottom:50px; text-align:center;}
.view-bx .view-cont .carousel-bx img {height:300px;}

/* write-wrap
-------------------------------------------------------------------------- */
.write-bx .el-radio {margin-right:20px; text-align:center; white-space:normal;}
.write-bx .el-radio__input {position:absolute; left:0; opacity:0;}
.write-bx .el-radio__label {padding:0;}
.write-bx .el-radio__label .label {display:block; margin-top:3px; color:#bababa;}
.write-bx .el-form-item .el-form-item__label {width:80px; text-align:center;}
.write-bx .el-form-item .el-form-item__content {margin-left:80px;}
.write-bx .el-form-item .el-textarea__inner {min-height:200px !important;}
.write-bx .el-col-2 {text-align:center;}
.write-bx .map .vue-map-container {margin-top:10px;}
.write-bx .el-upload__tip {line-height:21px; color:#d77869;}
.write-bx .file-list {font-size:12px; color:#ccc; line-height:24px;}
.write-bx .file-list button {margin-left:5px; color:#ccc;}

/* .vue-map-container */
.vue-map-container {width:100%; height:300px;}

/* mobile */


